In [1]:
import os
import sys

# Cambiar el directorio de trabajo al root del proyecto
os.chdir("..")

# Agregar la carpeta src al path para importar los m√≥dulos
sys.path.append("./src")

# Importar funciones
from BankMarketing import auth_kaggle, descargar_dataset

In [ ]:
auth_kaggle()

In [ ]:
descargar_dataset()

Dataset URL: https://www.kaggle.com/datasets/henriqueyamahata/bank-marketing

In [ ]:
#Para transformar el archivo csv en un dataframe
import pandas as pd
df = pd.read_csv("../data/bank-additional-full.csv")
print(df)

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41183  73;"retired";"married";"professional.course";"...
41184  46;"blue-collar";"married";"professional.cours...
41185  56;"retired";"married";"university.degree";"no...
41186  44;"technician";"married";"professional.course...
41187  74;"retired";"married";"professional.course";"...

[41188 rows x 1 columns]